.user-info {
  margin-bottom: 20px;
}

.user-title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.1rem !important;
}
.user-status {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 20px;
  border-radius: 50%;
  background: var(--user-status-off);
  border: 1px solid var(--main-button-border-color);
}

.user-status.ready {
  background: var(--progress-completed-color);
}

.current-user {
  font-weight: bold;
  color: #b413ec;
}

.user-info .ui.progress .bar {
  min-width: 0;
}
