.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.submit-button button {
  user-select: none;
  text-transform: uppercase !important;
}
